<template>
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <h1>Графики</h1>
                <div class="graph">
                    <h2>Количество соединений</h2>
                    <div id="chart_connection"></div>
                    <h2>График по данным с бекэнда за последнюю минуту</h2>
                    <div id="chart_mem"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  import Highcharts from 'highcharts';

  export default {
    props: ['connection'],
    data() {
      return {
        chart_connection: null,
        chart_memory: null
      }
    },
    mounted() {
      this.chart_connection = Highcharts.chart('chart_connection', {
        chart: {
          animation: Highcharts.svg
        },
        colors: ['#555'],
        title: {
          text: false
        },
        credits: {
          enabled: false
        },
        xAxis: {
          type: 'datetime',
        },
        yAxis: {
          minTickInterval: 1,
          title: {
            text: 'Connection: <b>0</b>'
          },
        },
        plotOptions: {
          lineWidth: 1,
          series: {
            marker: {
              enabled: true
            }
          }
        },
        tooltip: {
          formatter: function () {
            return '<b>' + this.series.name + '</b><br/><em>' +
                Highcharts.dateFormat('%H:%M:%S', this.x) + '</em><br/>' + this.y;
          }
        },
        legend: {
          enabled: false
        },
        exporting: {
          enabled: false
        },
        series: [{
          name: 'Соединений',
          type: 'areaspline',
          data: []
        }]
      });
      this.chart_memory = Highcharts.chart('chart_mem', {
        chart: {
          animation: Highcharts.svg
        },
        colors: ['#666666', '#883311', '#115577'],
        title: {
          text: false
        },
        credits: {
          enabled: false
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'RAM (MB)'
          },
        },
        plotOptions: {
          series: {
            lineWidth: 1,
            marker: {
              enabled: true
            }
          }
        },
        tooltip: {
          formatter: function () {
            return '<b>' + this.series.name + '</b><br/><em>' +
                Highcharts.dateFormat('%H:%M:%S', this.x) + '</em><br/>' +
                Highcharts.numberFormat(this.y, 2) + ' MB';
          }
        },
        legend: {
          enabled: true
        },
        exporting: {
          enabled: false
        },
        series: [{
          name: 'RAM: RSS',
          type: 'areaspline',
          data: [],
        },{
          name: 'RAM: HeapTotal',
          type: 'areaspline',
          data: []
        },{
          name: 'RAM: HeapUsed',
          type: 'areaspline',
          data: []
        }]
      });
      Event.listen('graphNewData', (data) => {
        this.updateData(data);
      });
    },
    methods: {
      updateConnection() {
        let connection = this.$store.state.online;
        let time = this.getTime();

        this.chart_connection.yAxis[0].axisTitle.attr({text: `Connection: <b>${connection}</b>`});
        this.chart_connection.series[0].addPoint([time, connection], true);
      },
      updateData(data) {
        let time = this.getTime();

        this.chart_memory.xAxis[0].setExtremes(time - 60 * 1000, time);

        this.chart_memory.series[0].addPoint([time, data.rss], true);
        this.chart_memory.series[1].addPoint([time, data.heapTotal], true);
        this.chart_memory.series[2].addPoint([time, data.heapUsed], true);
      },
      getTime() {
        return Math.round(new Date().getTime() / 1000) * 1000 + (3*60*60*1000);
      }
    },
    watch: {
      '$store.state.online': 'updateConnection'
    }
  }
</script>
<style lang="scss">
    .graph {
        > div {
            height: 160px;
            width: 500px;
        }
    }
</style>
