<template>
    <header>
       <nav>
           <div class="nav-wrapper">
               <router-link to="/" class="brand-logo">Тестовое задание</router-link>
               <ul class="right" >
                   <template v-if="!$store.state.user.id">
                       <li v-if="$route.name != 'register'"><router-link to="/register">Регистрация</router-link></li>
                       <li v-if="$route.name != 'login'"><router-link to="/login">Войти</router-link></li>
                   </template>
                   <template v-else>
                       <li>
                           <a href="#" @click="logoutUser">Выйти</a>
                       </li>
                   </template>
               </ul>
           </div>
       </nav>
    </header>
</template>
<script>
  import { mapActions } from "vuex";
  export default {
    methods: {
        ...mapActions(["logoutUser"])
    }
  }
</script>