@import "variables";
@import "~materialize-css/sass/materialize";


.page-footer {
  padding-bottom: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

h1, h2 {
  color: $primary-color;
}

nav .brand-logo {
  font-size: 20px;
  padding-left: 20px;
}