<template>
    <div class="container">
        <div class="row">
            <form class="col s6 offset-s3">
                <h1>Авторизация</h1>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" id="email" class="validate"
                               v-model="email"
                               :class="{'invalid': errors.email}"
                               @input="errors.email = null"
                        >
                        <label for="email">Email</label>
                        <span v-if="errors.email" class="helper-text" :data-error="errors.email"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="password" class="validate"
                               v-model="password"
                               :class="{'invalid': errors.password}"
                               @input="errors.password = null"
                        >
                        <label for="password">Password</label>
                        <span v-if="errors.password" class="helper-text" :data-error="errors.password"></span>
                    </div>
                </div>
                <a class="waves-effect waves-light btn" @click="login">Войти</a>
            </form>
        </div>
    </div>
</template>
<script>
  import {mapActions} from "vuex";

  export default {
    data() {
      return {
        email: null,
        password: null,
        errors: {
          email: null,
          password: null
        }
      }
    },
    methods: {
      ...mapActions(["userLogin"]),
      login() {
        this.userLogin({email: this.email, password: this.password})
            .then(r => {
              if (r.status === 200) {
                this.$router.push({name: 'main'});
              }
              else if(r.response && r.response.data.errors) {
                r.response.data.errors.forEach((error) => {
                  if (error.field && error.message)
                    this.errors[error.field] = error.message;
                });
              }
            })
            .catch(e => {
              console.log('error catch: ', e);
            });
      }
    }
  }
</script>