<template>
    <div>
        <chart></chart>
    </div>
</template>
<script>
  import chart from './../components/chart';

  export default {
    components: {chart},
    data() {
      return {
        channel: null,
        interval_connect: false,
        status: false
      }
    },
    mounted() {
      if (this.$store.state.user.id)
        this.connect();
    },
    methods: {
      connect() {
        if (this.$io.getSubscription('test')) {
          this.channel = this.$io.getSubscription('test');
        } else {
          this.channel = this.$io.connect().subscribe('test');
        }

        this.$io.on('open', () => {
          this.status = true;
          this.channel.on('connections', (res) => {
            this.$store.state.online = res;
          });
          this.channel.emit('connections');
          this.interval_connect = setInterval(() => this.channel.emit('connections'), 3 * 1000);

          this.channel.on('message', (res) => {
            Event.fire('graphNewData', res);
          });
        });

        this.$io.on('close', () => {
          this.status = false;
          clearInterval(this.interval_connect);
          setTimeout(() => this.connect(), 3000);
          this.$io.close();
        });

      }
    }
  }
</script>